*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

ul{
    list-style: none;
}

.padding{
    padding: 4%;
}

.img{
    width: 450px;
    height: 600px;
 
    margin-right: 10px;
  
}
